extends layout
block content
    index(v-bind:sites=arSites, title=title)
block vue-components
    script(src="/javascripts/vue_components/update-ads-btn.js")
    script(src="/javascripts/vue_components/site-update-block.js")
    script(src="/javascripts/vue_components/index.js")


